name: 04 - Using Actions

on:
  push:

jobs:
  build:
    runs-on:
      ubuntu-latest
    # 0. Checkout e code from the repository
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Printing Folders
        run: ls -la
      # 1. Install dependencies of our React application
      # 2. Execute automated tests